body {

}

#gayButton {
    font-size: 255px;
}

#lesbutt {
    font-size: 69px;
    rotate: 89deg;
}

#gamblerALERT {
    font-size: 69px;
    rotate: 323deg;
    font-family: Comic Sans MS;
    background-color: brown;
}