body {
    background-color: lightblue;
}
#bild {
    position: absolute;
    top: 250px;
}
#text {
    position: absolute;
    top: 200px;
}

#meny {
    list-style: none;
    display: inline-block;
    position: relative;
    left: -20px;
}

#menycontainer {
/*width: 40px;
height: 30px;*/
padding: 5px;
border: 4px rgb(79, 78, 78) solid;
background-color: rgb(68, 182, 182);
/*float: left;*/
position: absolute;
left: 10px;
top: 100px;
z-index: -1;
}

#pagecontent {
width: 170px;
padding: 15px;
border: 4px rgb(131, 129, 129) solid;
background-color: rgb(92, 117, 189);
font-size: large;
font-style: unset;
/*float: left;
position: relative;
left: 80px;
top: 50px;
z-index: 3;*/
}
